button.st-emotion-cache-7ym5gk.ef3psqc12{
  width: 150px;
}

.block-container.st-emotion-cache-z5fcl4.ea3mdgi5{
  padding: 2rem 2rem 10rem;
}

.st-emotion-cache-16txtl3.eczjsme4{
  padding: 3rem 1.5rem;
}

.st-emotion-cache-ocqkz7.e1f1d6gn5{
  gap:0rem;
}
.st-emotion-cache-9aoz2h.e1vs0wn30{
  padding-top:100px;
  padding-left:50px;
}

.st-emotion-cache-l9bjmx p{
  font-size: 16px;
}
